#navigation {
position: absolute;
top:170px;
left:800px;
}

#navigation a {
display: block;
background:#230100;
width:200px;
height:200px;
line-height: 90px;
float: left;
margin-top:20px;
font-size: 30px;
text-align: center;
text-decoration:none;
background-image:url(images/b.jpg);
border-radius:100%;
}